* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   min-width: 1px;
}

html {
   -webkit-font-smoothing: antialiased;
   -webkit-overflow-scrolling: touch;
   -webkit-text-size-adjust: none;
}

a, a:hover, input, textarea, select {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   outline: 0 none
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}

:focus {
   outline: 0;
}

a img, fieldset, hr {
   border: 0;
}

mark {
   background: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}
.table_wrap {
   overflow: auto;
}

td {
   vertical-align: middle;
}

.trim {
   word-break: break-all!important;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], select, textarea {
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
   border-radius: 0;
   -webkit-appearance: none;
}

input[type="submit"], input[type="button"], button, .button {
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
   -webkit-appearance: none;
   cursor: pointer;
   border: none;
}

hr {
   clear: both;
   font-size: 0;
   overflow: hidden;
   display: block;
   height: 0
}

article, aside, details, figcaption, figure, footer, header, nav, section, summary, main {
   display: block;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

img.alignleft {
   margin: 0 30px 10px 0;
}

img.alignright {
   margin: 0 0 10px 30px;
}

.aligncenter {
   margin-left: auto;
   margin-right: auto
}

img, svg {
   max-width: 100%;
   height: auto;
   display: block;
}