/*@include plus(12,4,#000);*/
html {
  font: 400 14px/1.5714 "Roboto", sans-serif; }

body {
  color: #131313;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }

#main {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden; }

.container {
  margin: 0 auto;
  width: 1170px;
  max-width: 94%;
  position: relative; }

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"], textarea {
  width: 100%;
  height: 40px;
  font-family: "Roboto";
  font-size: 1rem;
  border: 1px solid #ccc;
  padding: 0 10px;
  background: #eee;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #0d6dc4; }

textarea {
  resize: none;
  height: 100px;
  padding: 10px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #333333; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #333333;
  opacity: 1; }

/*Button*/
.button {
  display: inline-block;
  font-family: "Roboto";
  font-size: 1rem;
  text-align: center;
  line-height: 2.85714rem;
  text-decoration: none;
  color: #fff;
  padding: 0 1.42857rem;
  background: #0d6dc4; }
  .button:hover {
    opacity: 0.8;
    text-decoration: none; }

/*Social*/
.some a {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 8px;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .some a:first-child {
    margin-left: 0; }
  .some a:last-child {
    margin-right: 0; }
  .some a:hover {
    background: #0d6dc4;
    text-decoration: none; }
    .some a:hover:before {
      color: #ffffff; }
  .some a:before {
    color: #131313;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.alc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.flex_parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }
  .flex_parent article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .flex_parent aside {
    -webkit-flex-basis: 250px;
    -moz-flex-basis: 250px;
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
    min-width: 250px;
    max-width: 100%;
    margin-left: 20px; }

.cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.valign {
  display: inline-block;
  vertical-align: middle;
  max-width: 94%; }

.vfix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
  height: 40px; }
  .selbel_w select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    .selbel_w select + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: #131313;
      padding: 0 10px;
      border: 1px solid #eee;
      line-height: 40px; }
      .selbel_w select + span:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px; }
      .selbel_w select + span.err {
        border-color: #ef4036; }
    .selbel_w select option {
      padding: 5px; }

.fullframe {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0; }
  .fullframe iframe, .fullframe object, .fullframe embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

div.wpcf7 .wpcf7-form-control-wrap {
  display: block !important;
  margin-bottom: 20px;
  clear: both; }

div.wpcf7 .wpcf7-not-valid-tip {
  background: #fff;
  border: 1px solid #FF0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  font-family: "Roboto";
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: left; }

div.wpcf7 .wpcf7-response-output {
  width: 100%;
  background: #fff;
  margin: 10px 0 0 0;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 20px;
  padding: 5px 20px;
  text-align: center; }

div.wpcf7 .ajax-loader {
  display: none; }

.error404 .content {
  text-align: center; }
  .error404 .content h1 {
    font-size: 4.28571rem;
    line-height: 1.2;
    padding-bottom: 40px;
    font-weight: 400; }
    .error404 .content h1 span {
      font-size: 6.07143rem;
      line-height: 1.2;
      color: #0d6dc4;
      font-weight: 700; }
  .error404 .content p {
    font-size: 1.28571rem; }

#menuOpen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #222;
  height: 55px;
  text-align: right;
  display: none;
  z-index: 999; }

.hamburger {
  padding: 13px 15px;
  display: inline-block;
  cursor: default;
  transition-property: opacity, filter;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*Collapse*/
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*Scroll*/
::-webkit-scrollbar {
  width: 13px; }

::-webkit-scrollbar-track {
  border-left: 1px solid #ccc;
  background-color: #eaeaea; }

::-webkit-scrollbar-thumb {
  background-color: #0d6dc4; }

::-webkit-scrollbar-thumb:hover {
  background: #0b60ac; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 20px; }

p {
  padding-bottom: 20px;
  line-height: 1.5; }

a {
  color: #0d6dc4;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover {
    text-decoration: underline; }

.page h1 {
  display: block;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: 500; }

.page .container {
  font-family: 'Noto Serif'; }

header {
  position: relative;
  z-index: 100;
  background: #6ca2d5; }
  header:before {
    content: '';
    position: absolute;
    height: 38px;
    bottom: 0;
    right: 0;
    left: 0;
    background: #b7d8f7; }
  header .logo {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 5px; }
    header .logo img {
      max-width: 245px; }
  header .menues {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }

@media screen and (min-width: 1025px) {
  #mainMenu ul {
    font-size: 0; }
    #mainMenu ul li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin-right: 5px;
      margin-bottom: 10px; }
      #mainMenu ul li:last-child {
        margin-right: 0; }
      #mainMenu ul li a {
        font-size: 18px;
        display: block;
        padding: 24px 74px;
        color: #ffffff;
        background: #0d6dc4; }
      #mainMenu ul li:hover a, #mainMenu ul li.current-menu-item a {
        text-decoration: none; }
    #mainMenu ul > li:hover .sub-menu {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    #mainMenu ul .sub-menu {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      left: -34px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      transform: translateY(30px);
      background: rgba(26, 26, 26, 0.95);
      z-index: 3; }
      #mainMenu ul .sub-menu li {
        margin: 0;
        display: block;
        border-bottom: 1px solid #6ca2d5; }
        #mainMenu ul .sub-menu li:last-child {
          border-bottom: none; }
        #mainMenu ul .sub-menu li a {
          font-size: 14px;
          color: #000;
          padding: 5px 10px;
          background: #ffffff; }
          #mainMenu ul .sub-menu li a:hover {
            text-decoration: none;
            background: #b7d8f7; }
  #mainMenu .menu-item-has-children {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    #mainMenu .menu-item-has-children:before {
      content: "\37";
      transform: rotate(90deg);
      position: absolute;
      color: #ffffff;
      top: 50%;
      margin-top: -5px;
      right: 27%;
      font-size: 8px;
      font-family: "icons" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    #mainMenu .menu-item-has-children:hover:before {
      transform: rotate(-90deg); }
  .sub-menu {
    background: #fff;
    border: 1px solid #6ca2d5; } }

.home .top_slider {
  padding: 27px 0 70px; }
  .home .top_slider .swiper-container {
    width: 100%;
    height: 560px; }
  .home .top_slider .swiper-slide {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .home .top_slider .swiper-pagination {
    width: 100%;
    margin-top: 10px; }
    .home .top_slider .swiper-pagination .swiper-pagination-bullet {
      background: transparent;
      border: 2px solid #0d6dc4;
      border-radius: 0;
      margin: 0 5px;
      width: 10px;
      height: 10px;
      opacity: 1; }
    .home .top_slider .swiper-pagination .swiper-pagination-bullet-active {
      background: #0d6dc4; }
  .home .top_slider .text {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: 'Noto Serif'; }
    .home .top_slider .text p {
      padding-bottom: 0; }

.motto {
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 24px;
  text-align: center;
  background: #b7d8f7;
  position: relative; }
  .motto:before {
    content: '';
    position: absolute;
    height: 46px;
    left: 83px;
    right: 83px;
    bottom: 16px;
    background: #0d6dc4; }
  .motto h2 {
    font-size: 18px;
    font-family: "Roboto";
    position: relative;
    padding-bottom: 0; }

.home .front_items {
  margin: 40px 0 70px;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .home .front_items .item {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
    height: 240px;
    margin-bottom: 30px;
    overflow: hidden;
    -webkit-flex-basis: 23%;
    -moz-flex-basis: 23%;
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%; }
    .home .front_items .item .content_item {
      font-family: "Roboto";
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      position: absolute;
      left: 0;
      right: 0;
      top: 180px;
      text-align: center;
      background: #b7d8f7;
      padding-bottom: 300px; }
      .home .front_items .item .content_item .button {
        font-family: "Roboto";
        text-transform: uppercase;
        background: transparent;
        display: block;
        width: 125px;
        margin: 0 auto;
        max-width: 94%;
        color: #000000;
        border: 1px solid #000000; }
        .home .front_items .item .content_item .button:hover {
          border-color: transparent !important; }
      .home .front_items .item .content_item .top_title {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        font-size: 18px;
        padding: 20px 0;
        font-weight: 500; }
    .home .front_items .item:hover .content_item {
      top: 0;
      bottom: 0; }
      .home .front_items .item:hover .content_item .top_title {
        margin-top: 55px; }
  .home .front_items .item:nth-child(5) .content_item {
    background: #0d6dc4;
    color: #ffffff; }
  .home .front_items .item:nth-child(5) .button {
    color: #ffffff;
    border-color: #fff; }
    .home .front_items .item:nth-child(5) .button:hover {
      border-color: transparent; }
  .home .front_items .item:nth-child(6) .content_item {
    background: #0d6dc4;
    color: #ffffff; }
  .home .front_items .item:nth-child(6) .button {
    color: #ffffff;
    border-color: #fff; }
    .home .front_items .item:nth-child(6) .button:hover {
      border-color: transparent; }
  .home .front_items .item:nth-child(7) .content_item {
    background: #0d6dc4;
    color: #ffffff; }
  .home .front_items .item:nth-child(7) .button {
    color: #ffffff;
    border-color: #fff; }
    .home .front_items .item:nth-child(7) .button:hover {
      border-color: transparent; }
  .home .front_items .item:nth-child(8) .content_item {
    background: #0d6dc4;
    color: #ffffff; }
  .home .front_items .item:nth-child(8) .button {
    color: #ffffff;
    border-color: #fff; }
    .home .front_items .item:nth-child(8) .button:hover {
      border-color: transparent; }
  .home .front_items .item:nth-child(13) .content_item {
    background: #0d6dc4;
    color: #ffffff; }
  .home .front_items .item:nth-child(13) .button {
    color: #ffffff;
    border-color: #fff; }
    .home .front_items .item:nth-child(13) .button:hover {
      border-color: transparent; }
  .home .front_items .item:nth-child(14) .content_item {
    background: #0d6dc4;
    color: #ffffff; }
  .home .front_items .item:nth-child(15) .content_item {
    background: #0d6dc4;
    color: #ffffff; }
  .home .front_items .item:nth-child(15) .button {
    color: #ffffff;
    border-color: #fff; }
    .home .front_items .item:nth-child(15) .button:hover {
      border-color: transparent; }
  .home .front_items .item:nth-child(16) .content_item {
    background: #0d6dc4;
    color: #ffffff; }
  .home .front_items .item:nth-child(16) .button {
    color: #ffffff;
    border-color: #fff; }
    .home .front_items .item:nth-child(16) .button:hover {
      border-color: transparent; }

footer {
  background: #6ca2d5;
  position: relative;
  padding-top: 40px; }
  footer .the_end {
    text-align: center;
    background: #0d6dc4;
    color: #ffffff;
    padding: 18px 0; }
  footer .logo_bottom {
    max-width: 260px; }
  footer .footer_content {
    padding-bottom: 60px; }
  footer .bottom_menu a {
    color: #ffffff; }
  footer .bottom_menu li {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative; }
    footer .bottom_menu li:before {
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      content: '';
      position: absolute;
      width: 2px;
      height: 2px;
      top: 10px;
      left: -9px;
      background: #fff; }
    footer .bottom_menu li:hover a {
      text-decoration: none; }
    footer .bottom_menu li:hover:before {
      display: none; }
  footer .bottom_menu nav {
    font-family: 'Noto Serif';
    margin-right: 60px; }
    footer .bottom_menu nav h4 {
      color: #ffffff;
      position: relative; }
      footer .bottom_menu nav h4:before {
        content: '';
        position: absolute;
        width: 155px;
        height: 1px;
        bottom: 15px;
        left: 0;
        background: #fff; }
    footer .bottom_menu nav:last-child {
      margin-right: 0; }
    footer .bottom_menu nav ul {
      padding-left: 10px; }

@media screen and (max-width: 1024px) {
  #menuOpen {
    display: block;
    cursor: default !important; }
    #menuOpen.opened + #mainMenu {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  #mainMenu {
    position: fixed;
    width: 100%;
    top: 50px;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: auto;
    z-index: 9999;
    background: rgba(26, 26, 26, 0.95); }
    #mainMenu ul li {
      display: inline-block;
      width: 100%;
      position: relative; }
      #mainMenu ul li a {
        display: block;
        margin: 0;
        color: #fff;
        font-size: 18px;
        padding: 15px 3%;
        border-bottom: 1px solid #000; }
      #mainMenu ul li:hover a {
        background: none; }
      #mainMenu ul li.current-menu-item > a {
        background: #0d6dc4; }
    #mainMenu ul .sub-menu {
      display: none; }
      #mainMenu ul .sub-menu > li > a {
        padding: 10px 4%; }
  .subMenuButton {
    position: absolute;
    width: 55px;
    height: 55px;
    background: none;
    right: 0;
    top: 1.5px; }
    .subMenuButton:before, .subMenuButton:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: #fff;
      transition: all 0.3s ease; }
    .subMenuButton:before {
      width: 3px;
      height: 35px; }
    .subMenuButton:after {
      width: 35px;
      height: 3px; }
    .subMenuButton.open:after {
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -moz-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg); }
    .subMenuButton.open:before {
      -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -moz-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
      transform: translate(-50%, -50%) rotate(90deg); }
  .flex_parent {
    display: block;
    margin-bottom: 20px; }
    .flex_parent aside {
      margin: 0 auto; }
  .logo_responsive {
    max-width: 110px;
    position: absolute;
    top: 0;
    left: 12px; }
  header {
    margin-bottom: 40px; }
    header a.logo {
      display: none; } }

@media screen and (max-width: 767px) {
  img.alignright, img.alignleft {
    float: none;
    margin: 0 auto; }
  .motto:before {
    left: 5px;
    right: 5px; }
  .front_items .item {
    -webkit-flex-basis: 49% !important;
    -moz-flex-basis: 49% !important;
    -ms-flex-preferred-size: 49% !important;
    flex-basis: 49% !important; }
  .home .top_slider .text p {
    font-size: 30px; }
  .footer_content {
    display: block; }
    .footer_content .logo_bottom {
      margin: 25px auto 0; }
    .footer_content .bottom_menu {
      display: block;
      text-align: center; }
      .footer_content .bottom_menu li:before {
        display: none; }
      .footer_content .bottom_menu li a {
        position: relative; }
        .footer_content .bottom_menu li a:before {
          content: '';
          position: absolute;
          width: 2px;
          height: 2px;
          top: 10px;
          left: -9px;
          background: #fff; }
      .footer_content .bottom_menu h4 {
        display: inline-block;
        border-bottom: 1px solid #fff; }
        .footer_content .bottom_menu h4:before {
          display: none; }
    .footer_content nav {
      margin-right: 0 !important;
      margin-bottom: 25px; }
      .footer_content nav:last-child {
        margin-bottom: 0; } }

@media screen and (max-width: 600px) {
  .front_items {
    display: block; }
  .motto h2 {
    font-size: 15px !important; }
  .motto:before {
    height: 35px !important; }
  .home .top_slider .swiper-container {
    height: 320px; } }
