h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 20px;
}

p {
  padding-bottom: 20px;
  line-height: 1.5;
}

a {
  color: $bg;
  text-decoration: none;
  @include transition();
  &:hover {
    text-decoration: underline;
  }
}

.page {
  h1 {
    display: block;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .container {
    font-family: 'Noto Serif';
  }
}

header {
  position: relative;
  z-index: 100;
  background: #6ca2d5;
  &:before {
    content: '';
    position: absolute;
    height: 38px;
    bottom: 0;
    right: 0;
    left: 0;
    background: #b7d8f7;
  }
  .logo {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 5px;
    img {
      max-width: 245px;
    }
  }
  .menues {
    @include flex-direction(column-reverse);
  }
}

@media screen and (min-width: 1025px) {
  #mainMenu {
    ul {
      font-size: 0;
      li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-right: 5px;
        margin-bottom: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 18px;
          display: block;
          padding: 24px 74px;
          color: #ffffff;
          background: $bg;
        }
        &:hover a, &.current-menu-item a {
          text-decoration: none;
        }
      }
      > li:hover {
        .sub-menu {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
      }
      .sub-menu {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        left: -34px;
        opacity: 0;
        visibility: hidden;
        @include transition();
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        background: rgba(26, 26, 26, 0.95);
        z-index: 3;
        li {
          margin: 0;
          display: block;
          border-bottom: 1px solid #6ca2d5;
          &:last-child {
            border-bottom: none;
          }
          a {
            font-size: 14px;
            color: #000;
            padding: 5px 10px;
            background: #ffffff;
            &:hover {
              text-decoration: none;
              background: #b7d8f7;
            }
          }
        }
      }
    }
    .menu-item-has-children {
      @include transition();
      &:before {
        content: "\37";
        transform: rotate(90deg);
        position: absolute;
        color: #ffffff;
        top: 50%;
        margin-top: -5px;
        right: 27%;
        font-size: 8px;
        font-family: "icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      &:hover {
        &:before {
          transform: rotate(-90deg);
        }
      }
    }
  }
  .sub-menu {
    background: #fff;
    border: 1px solid #6ca2d5;
  }
}

.home .top_slider {
  padding: 27px 0 70px;
  .swiper-container {
    width: 100%;
    height: 560px;
  }
  .swiper-slide {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination {
    width: 100%;
    margin-top: 10px;
    .swiper-pagination-bullet {
      background: transparent;
      border: 2px solid #0d6dc4;
      border-radius: 0;
      margin: 0 5px;
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: #0d6dc4;

    }
  }
  .text {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: 'Noto Serif';
    p {
      padding-bottom: 0;
    }
  }
}

.motto {
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 24px;
  text-align: center;
  background: #b7d8f7;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 46px;
    left: 83px;
    right: 83px;
    bottom: 16px;
    background: #0d6dc4;
  }
  h2 {
    font-size: 18px;
    font-family: $f;
    position: relative;
    padding-bottom: 0;
  }
}

.home .front_items {
  margin: 40px 0 70px;
  @include flex-wrap(wrap);
  .item {
    @include transition();
    position: relative;
    height: 240px;
    margin-bottom: 30px;
    overflow: hidden;
    @include flex-basis(23%);
    .content_item {
      font-family: $f;
      @include transition();
      position: absolute;
      left: 0;
      right: 0;
      top: 180px;
      text-align: center;
      background: #b7d8f7;
      padding-bottom: 300px;
      .button {
        font-family: $f;
        text-transform: uppercase;
        background: transparent;
        display: block;
        width: 125px;
        margin: 0 auto;
        max-width: 94%;
        color: #000000;
        border: 1px solid #000000;
        &:hover {
          border-color: transparent !important;
        }
      }
      .top_title {
        @include transition();
        font-size: 18px;
        padding: 20px 0;
        font-weight: 500;
      }
    }
    &:hover {
      .content_item {
        top: 0;
        bottom: 0;
        .top_title {
          margin-top: 55px;
        }
      }
    }
  }
  .item {
    &:nth-child(5) {
      .content_item {
        background: #0d6dc4;
        color: #ffffff;
      }
      .button {
        color: #ffffff;
        border-color: #fff;
        &:hover {
          border-color: transparent;
        }
      }
    }
    &:nth-child(6) {
      .content_item {
        background: #0d6dc4;
        color: #ffffff;
      }
      .button {
        color: #ffffff;
        border-color: #fff;
        &:hover {
          border-color: transparent;
        }
      }
    }
    &:nth-child(7) {
      .content_item {
        background: #0d6dc4;
        color: #ffffff;
      }
      .button {
        color: #ffffff;
        border-color: #fff;
        &:hover {
          border-color: transparent;
        }
      }
    }
    &:nth-child(8) {
      .content_item {
        background: #0d6dc4;
        color: #ffffff;
      }
      .button {
        color: #ffffff;
        border-color: #fff;
        &:hover {
          border-color: transparent;
        }
      }
    }
    &:nth-child(13) {
      .content_item {
        background: #0d6dc4;
        color: #ffffff;
      }
      .button {
        color: #ffffff;
        border-color: #fff;
        &:hover {
          border-color: transparent;
        }
      }
    }
    &:nth-child(14) {
      .content_item {
        background: #0d6dc4;
        color: #ffffff;
      }
    }
    &:nth-child(15) {
      .content_item {
        background: #0d6dc4;
        color: #ffffff;
      }
      .button {
        color: #ffffff;
        border-color: #fff;
        &:hover {
          border-color: transparent;
        }
      }
    }
    &:nth-child(16) {
      .content_item {
        background: #0d6dc4;
        color: #ffffff;
      }
      .button {
        color: #ffffff;
        border-color: #fff;
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}

footer {
  background: #6ca2d5;
  position: relative;
  padding-top: 40px;
  .the_end {
    text-align: center;
    background: #0d6dc4;
    color: #ffffff;
    padding: 18px 0;
  }
  .logo_bottom {
    max-width: 260px;
  }
  .footer_content {
    padding-bottom: 60px;
  }
  .bottom_menu {
    a {
      color: #ffffff;
    }
    li {
      @include transition();
      position: relative;
      &:before {
        @include transition();
        content: '';
        position: absolute;
        width: 2px;
        height: 2px;
        top: 10px;
        left: -9px;
        background: #fff;
      }
      &:hover {
        a {
          text-decoration: none;
        }
        &:before {
          display: none;
        }
      }
    }
    nav {
      font-family: 'Noto Serif';
      h4 {
        color: #ffffff;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 155px;
          height: 1px;
          bottom: 15px;
          left: 0;
          background: #fff;
        }
      }
      margin-right: 60px;
      &:last-child {
        margin-right: 0;
      }
      ul {
        padding-left: 10px;
      }
    }
  }
}