//Responsive Web Design
@media screen and (max-width: 1024px) {
  #menuOpen {
    display: block;
    cursor: default!important;
    &.opened {
      & + #mainMenu {
        @include transform(translateX(0));
      }
    }
  }
  #mainMenu {
    position: fixed;
    width: 100%;
    top: 50px;
    bottom: 0;
    right: 0;
    @include transform(translateX(100%));
    @include transition();
    overflow: auto;
    z-index: 9999;
    background: rgba(26, 26, 26, 0.95);
    ul {
      li {
        display: inline-block;
        width: 100%;
        position: relative;
        a {
          display: block;
          margin: 0;
          color: #fff;
          font-size: 18px;
          padding: 15px 3%;
          border-bottom: 1px solid #000;
        }
        &:hover a {
          background: none;
        }
        &.current-menu-item > a {
          background: $bg;
        }
      }
      .sub-menu {
        display: none;
        >li>a {
          padding: 10px 4%;
        }
      }
    }
  }
  .subMenuButton {
    position: absolute;
    width: 55px;
    height: 55px;
    background: none;
    right: 0;
    top: 1.5px;
    &:before, &:after {
      content: '';
      @include center();
      background: #fff;
      transition: all 0.3s ease;
    }
    &:before {
      width: 3px;
      height: 35px;
    }
    &:after {
      width: 35px;
      height: 3px;
    }
    &.open {
      &:after {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        -ms-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
      }
      &:before {
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -moz-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  .flex_parent {
    display: block;
    margin-bottom: 20px;
    aside {
      margin: 0 auto;
    }
  }

  .logo_responsive {
    max-width: 110px;
    position: absolute;
    top: 0;
    left: 12px;
  }

  header {
    margin-bottom: 40px;
    a.logo {
      display: none;
    }
  }

}

@media screen and (max-width: 767px) {
  img.alignright, img.alignleft {
    float: none;
    margin: 0 auto;
  }

  .motto:before {
    left: 5px;
    right: 5px;
  }

  .front_items {
    .item {
      -webkit-flex-basis: 49% !important;
      -moz-flex-basis: 49% !important;
      -ms-flex-preferred-size: 49% !important;
      flex-basis: 49% !important;
    }
  }

  .home .top_slider .text p {
    font-size: 30px;
  }

  .footer_content {
    display: block;
    .logo_bottom {
      margin: 25px auto 0;
    }
    .bottom_menu {
      display: block;
      text-align: center;
      li {
        &:before {
          display: none;
        }
        a {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            width: 2px;
            height: 2px;
            top: 10px;
            left: -9px;
            background: #fff;
          }
        }
      }
      h4 {
        display: inline-block;
        border-bottom: 1px solid #fff;
        &:before {
          display: none;
        }
      }
    }
    nav {
      margin-right: 0 !important;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .front_items {
    display: block;
  }

  .motto {
    h2 {
      font-size: 15px !important;
    }
    &:before {
      height: 35px !important;
    }
  }

  .home .top_slider .swiper-container {
    height: 320px;
  }
}